In [74]:
import pandas as pd

df = pd.read_csv("chicago.csv")

#['Start Time', 'End Time', 'Trip Duration', 'Start Station',
  # 'End Station', 'User Type', 'Gender', 'Birth Year'],

df = df.rename(columns={'Start Station': 'SStation', 'End Station': 'EStation'})

start_station_count=df['SStation'].value_counts()

most_common_start=start_station_count.index[0]

end_station_count=df['EStation'].value_counts()

df['Start Time']=pd.DatetimeIndex(df['Start Time'])

#print(df.head())  # start by viewing the first few rows of the dataset!

In [48]:
df.dtypes

Unnamed: 0         int64
Start Time        object
End Time          object
Trip Duration      int64
SStation          object
EStation          object
User Type         object
Gender            object
Birth Year       float64
dtype: object

In [55]:
df.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,SStation,EStation,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0

In [90]:
dayOfWeek={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
df['weekday'] = df['Start Time'].dt.dayofweek.map(dayOfWeek)
df['weekday'][0]

'Friday'

In [87]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [82]:
df['month'] = df['Start Time'].dt.month

(df['month']).mode()[0]

6

In [81]:
df['Hour'] = df['Start Time'].dt.hour

(df['Hour']).mode()[0]

17

In [43]:
total_trip_duration=round(df['Trip Duration'].sum(),2)
print('Total Trip Duration is: {} H'.format(total_trip_duration))

Total Trip Duration is: 280871787 H

In [44]:
seconds=total_trip_duration
seconds_in_day = 60 * 60 * 24
seconds_in_hour = 60 * 60
seconds_in_minute = 60

days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) 
print(days, hours, minutes)

3250 19 3387

In [33]:
avg_trip_duaration=round(df['Trip Duration'].mean()/60, 2)
print('Avg Trip Duration is: {} min'.format(avg_trip_duaration))

Avg Trip Duration is: 15.6 min

In [34]:
df['trips'] = list(zip(df.SStation, df.EStation))

trip_count=df['trips'].value_counts()

most_common_trip=trip_count.index[0]
print(trip_count)
print('The most common Trip is : {}'.format(most_common_trip))

(Lake Shore Dr & Monroe St, Streeter Dr & Grand Ave)             854
(Streeter Dr & Grand Ave, Streeter Dr & Grand Ave)               712
(Streeter Dr & Grand Ave, Theater on the Lake)                   561
(Streeter Dr & Grand Ave, Lake Shore Dr & North Blvd)            538
(Streeter Dr & Grand Ave, Lake Shore Dr & Monroe St)             526
                                                                ...
(Greenview Ave & Fullerton Ave, Milwaukee Ave & Wabansia Ave)      1
(Kingsbury St & Erie St, Wood St & Taylor St)                      1
(Wilton Ave & Diversey Pkwy, Campbell Ave & Fullerton Ave)         1
(Sheridan Rd & Loyola Ave, Clark St & Armitage Ave)                1
(Halsted St & Roscoe St, Elston Ave & Wabansia Ave)                1
Name: trips, Length: 47115, dtype: int64
The most common Trip is : ('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave')

In [21]:
print("computing the start station count...../...")
print(start_station_count)
print("finished")
print("most common start is: {}".format(most_common_start))

computing the start station count...../...
Streeter Dr & Grand Ave         6911
Clinton St & Washington Blvd    4306
Lake Shore Dr & Monroe St       4289
Clinton St & Madison St         3744
Canal St & Adams St             3443
                                ...
Morgan St & Pershing Rd            1
Ellis Ave & 83rd St                1
Laramie Ave & Kinzie St            1
Racine Ave & 65th St               1
Kenton Ave & Madison St            1
Name: SStation, Length: 568, dtype: int64
finished
most common start is: Streeter Dr & Grand Ave

In [22]:

print("computing the end station count...../...")
print(end_station_count)
print("finished")

computing the end station count...../...
Streeter Dr & Grand Ave         7512
Clinton St & Washington Blvd    4166
Lake Shore Dr & Monroe St       4016
Clinton St & Madison St         4014
Lake Shore Dr & North Blvd      3863
                                ...
Throop St & 52nd St                1
Kostner Ave & Adams St             1
Cicero Ave & Quincy St             1
Wabash Ave & 87th St               1
Seeley Ave & Garfield Blvd         1
Name: EStation, Length: 572, dtype: int64
finished