In [30]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city.lower()])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.DatetimeIndex(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    #dayOfWeek={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
    #df['day_of_week'] = df['Start Time'].dt.dayofweek.map(dayOfWeek)
    df['day_of_week'] = df['Start Time'].dt.weekday_name


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month']==month]
        print(df)
    # filter by day of week if applicable
    
    if day != 'all':
        # filter by day of week to create the new dataframe
        #df = df.loc[df['day_of_week'] == day.title()]
        df= df[df['day_of_week'] == day.title()]
    
    return df


df = load_data('chicago', 'march', 'friday')

        Unnamed: 0          Start Time             End Time  Trip Duration  \
3           304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
26          385517 2017-03-23 09:38:27  2017-03-23 09:42:41            254
34          389463 2017-03-23 20:50:57  2017-03-23 20:57:19            382
37          395803 2017-03-24 15:35:55  2017-03-24 15:46:10            615
47          371076 2017-03-20 21:27:24  2017-03-20 21:39:02            698
...            ...                 ...                  ...            ...
299888      297074 2017-03-05 10:55:29  2017-03-05 10:58:59            210
299898      292757 2017-03-03 19:30:48  2017-03-03 19:34:52            244
299902      409751 2017-03-27 18:16:44  2017-03-27 18:33:58           1034
299923      375353 2017-03-21 16:22:31  2017-03-21 16:26:55            264
299938      418613 2017-03-29 08:11:51  2017-03-29 08:24:27            756

                        Start Station                   End Station  \
3       Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave
26           Loomis St & Jackson Blvd      Peoria St & Jackson Blvd
34                Ellis Ave & 55th St         Kimbark Ave & 53rd St
37              Dearborn St & Erie St       State St & Van Buren St
47                Morgan St & Lake St          Larrabee St & Oak St
...                               ...                           ...
299888        Clinton St & Madison St        Green St & Randolph St
299898          Clark St & Berwyn Ave         Broadway & Berwyn Ave
299902          Canal St & Madison St         Damen Ave & Grand Ave
299923         Michigan Ave & 14th St           Buckingham Fountain
299938       Peoria St & Jackson Blvd      LaSalle St & Illinois St

         User Type  Gender  Birth Year  month day_of_week
3       Subscriber    Male      1986.0      3      Monday
26      Subscriber  Female      1985.0      3    Thursday
34      Subscriber  Female      1993.0      3    Thursday
37      Subscriber    Male      1989.0      3      Friday
47      Subscriber    Male      1972.0      3      Monday
...            ...     ...         ...    ...         ...
299888  Subscriber  Female      1989.0      3      Sunday
299898  Subscriber    Male      1980.0      3      Friday
299902  Subscriber    Male      1989.0      3      Monday
299923  Subscriber    Male      1985.0      3     Tuesday
299938  Subscriber  Female      1981.0      3   Wednesday

[29639 rows x 11 columns]

In [28]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

In [31]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday

In [27]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
37,395803,2017-03-24 15:35:55,2017-03-24 15:46:10,615,Dearborn St & Erie St,State St & Van Buren St,Subscriber,Male,1989.0,3,Friday
93,395735,2017-03-24 15:32:04,2017-03-24 15:52:53,1249,Sedgwick St & Webster Ave,Western Ave & Winnebago Ave,Subscriber,Female,1964.0,3,Friday
175,395402,2017-03-24 15:10:29,2017-03-24 15:19:44,555,Franklin St & Monroe St,Aberdeen St & Monroe St,Subscriber,Male,1987.0,3,Friday
190,393400,2017-03-24 12:29:30,2017-03-24 12:48:56,1166,Southport Ave & Wellington Ave,Lake Shore Dr & North Blvd,Subscriber,Female,1984.0,3,Friday
198,427496,2017-03-31 08:25:53,2017-03-31 08:39:09,796,Clinton St & Jackson Blvd,Racine Ave (May St) & Fulton St,Subscriber,Male,1983.0,3,Friday